

<ons-tabbar>
    <ons-tabbar-item page="homeen.html" label="Ticket" icon="fa-user" active="true"></ons-tabbar-item>
  <ons-tabbar-item page="settingsen.html" label="Specials" icon="fa-ticket"></ons-tabbar-item>
</ons-tabbar>

<ons-template id="homeen.html">
  
    <ons-page>
      <ons-toolbar>
        <div class="center">Price</div>

      <div class="left">
        <ons-toolbar-button ng-click="ons.navigator.popPage()"><ons-icon icon="ion-ios7-arrow-left" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
      </div>
        
      </ons-toolbar>

            
            <ons-list>
         <ons-list-header style="text-align: center">You can buy the ticket on the boat</ons-list-header>

        <ons-list-item class="topcoat-list__item__line-height" style="padding-left: 15px"><strong>One way:</strong> 2,30 €</ons-list-item>
        <ons-list-item class="topcoat-list__item__line-height" style="padding-left: 15px"><strong>Round trip:</strong> 4,30 €</ons-list-item>
        <ons-list-item class="topcoat-list__item__line-height" style="padding-left: 15px"><strong>Kids (6-12 years):</strong> 3 € i/v</ons-list-item>
        <ons-list-item class="topcoat-list__item__line-height" style="padding-left: 15px"><strong>Kids (0-5 años):</strong> free</ons-list-item>
        <ons-list-item class="topcoat-list__item__line-height" style="padding-left: 15px"><strong>Package:</strong> 1,30 €</ons-list-item>
        <ons-list-item class="topcoat-list__item__line-height" style="padding-left: 15px"><strong>Economic (Round trip):</strong> 3,30 €*</ons-list-item>
        <ons-list-item class="topcoat-list__item__line-height" style="padding-left: 15px"><strong>Special:</strong> 2,15 € **</ons-list-item>
                <ons-list-header>*until 08:00 h.<br>** retirees / pensioners, unemployed, large families.</ons-list-header>






    </ons-list>



</ons-template>

<ons-template id="commentsen.html">
  <ons-toolbar>
    <div class="center">Comments</div>
  </ons-toolbar>
  
  <p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>
</ons-template>

<ons-template id="tagsen.html">
  <ons-toolbar>
    <div class="center">Tags</div>
  </ons-toolbar>
  
  <p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>
</ons-template>

<ons-template id="feeden.html">
  <ons-toolbar>
    <div class="center">Feed</div>
  </ons-toolbar>
  
  <p style="padding-top: 100px; color: #999; text-align: center">Page Contents</p>
</ons-template>

<ons-template id="settingsen.html">
   <ons-page>
      <ons-toolbar>
        <div class="center">Price</div>

      <div class="left">
        <ons-toolbar-button ng-click="ons.navigator.popPage()"><ons-icon icon="ion-ios7-arrow-left" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
      </div>
        
      </ons-toolbar>
      
    <ons-list >
        <ons-list-item class="desci"><strong>Pass 10:</strong> 10 trips, 21,50 € <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (2,15 €/viaje)</ons-list-item>
        <ons-list-item class="desci"><strong>Pass 30:</strong> 30 trips, 63 € <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (2,10 €/viaje)</ons-list-item>
        <ons-list-item class="desci"><strong>Pass 60:</strong> 60 trips, 99 € <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (1,65 €/viaje)</ons-list-item>
        <ons-list-item class="desci"><strong>Student:</strong> 50 trips, 66 € <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (1,32 €/viaje)</ons-list-item>
        <ons-list-item class="desci"><strong>Monthly Pass:</strong> 125 € <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (viajes ilimitados 30 días)</ons-list-item>
    </ons-list>  
      
      
</ons-template>

